{% extends 'base.html' %} {% block header %}
<div class="row">
  <div class="col">
    <h1>{% block title %}Upload File{% endblock %}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="{{ url_for('files.index') }}">Back</a>
  </div>
</div>
{% endblock %} {% block content %}
<div class="row mt-4">
  <div class="col">
    <div id="create-container"></div>
  </div>
</div>
<!-- <form method="post" enctype=multipart/form-data>
  <label for="file_name">File Name</label>
  <input
    name="file_name"
    id="file_name"
    value="{{ request.form['file_name'] }}"
    required
  />
  <label for="file">File</label>
  <input name="file" id="file" type=file required>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='dist/index.js') }}"></script>
<script type="text/javascript">
  async function elmInit() {
    // Extract the stored data from previous sessions.
    var storedData = null; // await browser.storage.sync.get();
    var flags = Object.assign({}, storedData || null, {
      fileName: "{{ request.form['file_name'] }}",
      editable: true,
      content: "",
      filePath: "",
      uploadedBy: "",
      uploadedAt: "",
    });

    // Load the Elm app, passing in the stored data.
    var app = Elm.Main.init({
      node: document.getElementById("create-container"),
      flags: flags,
    });
  }

  elmInit();
</script>
{% endblock %}
