{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Upload File{% endblock %}</h1>
{% endblock %} {% block content %}
<div id="create-container"></div>
<!-- <form method="post" enctype=multipart/form-data>
  <label for="file_name">File Name</label>
  <input
    name="file_name"
    id="file_name"
    value="{{ request.form['file_name'] }}"
    required
  />
  <label for="file">File</label>
  <input name="file" id="file" type=file required>
  <input type="submit" value="Save" />
</form> -->
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='dist/index.js') }}"></script>
<script type="text/javascript">
  console.log("{{ request.form['file_name'] }}");
  async function elmInit() {
    // Extract the stored data from previous sessions.
    var storedData = null; // await browser.storage.sync.get();
    var flags = Object.assign({}, storedData || null, {
      fileName: "{{ request.form['file_name'] }}",
      content: "",
    });

    // Load the Elm app, passing in the stored data.
    var app = Elm.Main.init({
      node: document.getElementById("create-container"),
      flags: flags,
    });

    // Listen for commands from the `setStorage` port.
    // Turn the data to a string and put it in localStorage.
    //   app.ports.setStorage.subscribe(function (state) {
    //     browser.storage.sync.set(state);
    //   });
  }

  elmInit();
</script>
{% endblock %}
