{% extends 'base.html' %} {% block header %}
<div class="row">
  <div class="col">
    <h1>{% block title %}Files{% endblock %}</h1>
  </div>
</div>
{% endblock %} {% block content %} {% if g.user %}
<div class="row">
  <div class="col">
    <a class="btn btn-primary" href="{{ url_for('files.create') }}"
      >Upload new file</a
    >
  </div>
</div>
{% endif %}
<div class="row mt-4">
  <div class="col">
    <table class="table">
      <caption>
        Listing of files
      </caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>File</th>
          <th>Uploaded By</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>
            <a href="{{ url_for('files.detail', id=file['id']) }}">
              {{ file['file_name'] }}
            </a>
          </td>
          <td>
            {{ file['file_path'] }}
          </td>
          <td>
            {{ file['username'] }}
          </td>
        </tr>
        {% endfor %} {% if not files %}
        <tr>
          <td>
            There's nothing here...
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
