{% extends 'base.html' %} {% block header %}
<div class="row">
  <div class="col">
    <h1>{% block title %}File Details{% endblock %}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="{{ url_for('files.index') }}">Back</a>
  </div>
</div>
{% endblock %} {% block content %}
<div class="row mt-4">
  <div class="col">
    <div id="detail-container">
      <p>File Name: {{ file['name'] }}</p>
      <p>{{ content | replace('\n', '<br />') | replace('\r', '') }}</p>
      <p>File path: {{ file['file_path'] }}</p>
      <p>Uploaded by: {{ file['username'] }}</p>
      <p>Uploaded at: {{ file['uploaded'] }}</p>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="d-flex">
          <a
            href="{{ url_for('files.download', id=file['id']) }}"
            class="btn btn-primary"
          >
            Download
          </a>
          {% if may_share %}
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Get Sharing Link
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for label, duration in [("1 hour", "3600"), ("3 days",
              "259200")] %}
              <li>
                <a
                  href="{{ url_for('auth.generate_sharing_link', duration=duration, file_id=file['id']) }}"
                  class="dropdown-item"
                >
                  {{ label }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
          <button class="btn btn-secondary" disabled>Get Sharing Link</button>
          {% endif %} {% if may_delete %}
          <a
            href="{{ url_for('files.delete', id=file['id']) }}"
            class="btn btn-danger"
          >
            Delete
          </a>
          {% else %}
          <button class="btn btn-danger" disabled>Delete</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %} {% endblock %}
